body {
    background-color: #F3F3EE;
}

/* Personal Plan Sidebar*/

#personalplan {
    position: fixed;
    top: 180px;
    right: 0;
    bottom: 50px;
    width: 300px;
    background: #DBDBD5;
    padding: 30px;
    box-shadow: 0 0 5px black;
    text-align: center;
}

#personalplandiv {
    position: fixed;
}

#personalplanheader {
    font-family: 'Century Gothic';
}

#pb {
    width: 235px;
}

#haveselected {
    font-family: 'Century Gothic';
}

#servicelist {
    height: 400px;
    width: 235px;
    border: 1px solid #ccc;
    overflow: auto;
    background-color: white;
}

.servicelistitem {
    list-style-type: none;
    font-family: 'Century Gothic';
    font-size: large;
    margin-right: 48px;
}

    .servicelistitem:hover {
        color: white;
        background-color: #97233F;
    }

#contactbutton {
    margin-left: 40px;
}

#sidebartoggle {
    position: absolute;
    right: 90px;
    top: 130px;
    font-weight: bold;
}

/* End Personal Plan Styles*/

/* Service Information Sidebar*/

#serviceinfosidebar {
}

#serviceinfoheader {
    font-family: 'Century Gothic';
    text-align: center;
    margin-left: 20px;
}

#serviceinfolist {
    list-style-type: none;
    margin-top: 24px;
    font-family: 'Century Gothic';
    font-size: large;
}

.serviceInfo {
    margin-right: 20px;
    font-family: 'Century Gothic';
}

.serviceInfoHead {
}

header {
    background-color: #015172;
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow: 0 0 5px black;
}

/* End Service Information Styles*/

/* Contact Form */

input, textarea {
    margin-top: 8px;
    float: left;
}

.nodeselect {
    margin-left: 30px;
    font-size: 18px;
    padding-top: 20px;
}

.contactLabel {
    float: left;
    width: 100px;
    text-align: right;
    margin-top: 8px;
    clear: left;
}

/* End Contact Form Styles*/
