body {
}
    .contactLabel{
        float: left;
        width: 100px;
        text-align: right;
        margin-top: 8px;
        clear: left;
        //color: red;
    }

    #pb {
         width: 220px;
    }

    #servicelist {
        height:400px;
        width:220px;
        border:1px solid #ccc;
        overflow:auto;
    }

    .servicelistitem {
        list-style-type: none;
        font-family: 'Century Gothic';
    }

    .servicelistitem:hover {
        color: orange;
        background-color:#222328;
    }

    #haveselected {
        font-family: 'Century Gothic';
    }

    header {
        background-color: #222328;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    input, textarea {
        margin-top: 8px;
        float: left;
    }
    
    .nodeselect {
        //color: red;
        margin-left: 30px;
        font-size: 18px;
        padding-top: 20px;
    }

    #submit {
        margin-left: 80px;
    }

    .serviceInfo {
        font-family: 'Century Gothic';
    }

    h2 {
        //color: red;
    }

    dd {
        //color: red;
    }