
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/ArborJS/jquery.min.js"></script>
    <script src="~/ArborJS/arbor.js"></script>
    <script src="~/ArborJS/graphics.js"></script>
    <script src="~/ArborJS/renderer.js"></script>
    <title>Lunar</title>
</head>
<body>
    <div> 
        <h1>Lunar</h1>
    </div>

    <canvas id="viewport" width="800" height="800"></canvas>

    <span id="nodeselector">Node selector</span>
    <span id="nodeselector2">Node selector22222222222</span>

    <script language="javascript" type="text/javascript">
                      
        var sys = arbor.ParticleSystem(500, 1000, 1);
        sys.parameters({ gravity: true });
        sys.renderer = Renderer("#viewport");
        var data = {
            nodes: {
                stars: { 'color': 'blue', 'shape': 'dot', 'label': '@ViewBag.Name', link:'stars node', bool:'n' },
                planet1: { 'color': 'blue', 'shape': 'dot', 'label': 'Planet', link: 'planet1', bool: 'n' },
                planet2: { 'color': 'blue', 'shape': 'dot', 'label': 'Planet', link: 'planet2', bool: 'n' },
                planet3: { 'color': 'blue', 'shape': 'dot', 'label': 'Planet', link: 'planet3', bool: 'n' },
                planet4: { 'color': 'blue', 'shape': 'dot', 'label': 'Planet', link: 'planet4', bool: 'n' }

            },
            edges: {
                stars: { planet1: {}, planet2: {} },
                planet1: { planet3: {}, planet4: {} }
            }
        };
        sys.graft(data);

    </script>

</body>
</html>
