<head>
    <title>Personal Plan</title>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/Services.js"></script>
    <link href="~/Content/Styles.css" rel="stylesheet" />
</head>
<div>
    <h3 class="serviceInfo">My Personal Plan</h3>
    <br />
    <div id="pb"></div>
    <dl>
        <dd>
            <h4 id="haveselected"></h4>
        </dd>
        <dd>
            <div id="servicelist">
                <ul></ul>
            </div>
        </dd>
    </dl>

    <form action="@Url.Action("ContactForm", "Home")">
        <input type="submit" value="Contact Lunar Logic" onclick="" class="btn btn-primary" />
    </form>
    <br />
</div>
