@Html.Partial("_ServiceInformation")
<div id="personalplandiv">
    <h4 id="personalplanheader">My Personal Plan</h4>
    <hr />
    <div id="pb"></div>
    <h5 id="haveselected"></h5>
    <div id="servicelist">
        <ul></ul>
    </div>
    <input type="submit" value="Contact Lunar Logic" onclick="" class="btn btn-primary" id="contactbutton" />
</div>
