<div id="serviceinformationdiv">
    @Html.Partial("_ServiceInformation")
</div>
<div id="personalplan">
    <h3 id="personalplanheader">My Personal Plan</h3>
    <div id="pb"></div>
    <h5 id="haveselected"></h5>
    <div id="servicelist">
        <ul></ul>
    </div>
    <input type="button" value="Contact Lunar Logic" onclick="" class="btn btn-primary" id="contactbutton" />
</div>