@model LunarLogic.Models.ServiceViewModel


<div>
    <br />
    <h2 class="serviceInfoheader" id="serviceinfoheader">Service Information</h2>
    <hr />
    <ul class="dl-horizontal" id="serviceinfolist">
        <li class="serviceInfo">
            @Html.DisplayNameFor(model => model.Name)
        </li>
        <li id="sname" class="serviceInfo">
            @Html.DisplayFor(model => model.Name)
        </li>
        <li class="serviceInfo">
            @Html.DisplayNameFor(model => model.Description)
        </li>

        <li id="sdescription" class="serviceInfo">
            @Html.DisplayFor(model => model.Description)
        </li>

        <li class="serviceInfo">
            @*@Html.DisplayNameFor(model => model.ConnectedServices)*@
            Services you may be interested in:
        </li>

        @if (Model != null && Model.ConnectedServices != null)
        {
            foreach (string s in Model.ConnectedServices)
            {
                <li>
                    @s
                </li>
            }
        }
        //otherwise there is no info that was passed in here, so there needs to be an element with an id for client-side population
        else
        {
            <li id="sconnected"> </li>
        }

    </ul>
</div>
