@model LunarLogic.Models.ServiceViewModel


<div>
    <h4 class="serviceInfoheader" id="serviceinfoheader">Service Information</h4>
    <hr />
    <div class="dl-horizontal" id="serviceinfolist">
        <h6 id="snamehead" class="serviceInfoHead">
            @Html.DisplayNameFor(model => model.Name)
        </h6>
        <h6 id="sname" class="serviceInfo">
            @Html.DisplayFor(model => model.Name)
        </h6>
        <h6 id="sdescriptionhead" class="serviceInfoHead">
            @Html.DisplayNameFor(model => model.Description)
        </h6>

        <p id="sdescription" class="serviceInfo">
            @Html.DisplayFor(model => model.Description)
            <br />
        </p>

        <h6 class="serviceInfoHead">
            @*@Html.DisplayNameFor(model => model.ConnectedServices)*@
            Services you may be interested in:
        </h6>

        @if (Model != null && Model.ConnectedServices != null)
        {
            foreach (string s in Model.ConnectedServices)
            {
                <h6 class="serviceInfo">
                    @s
                </h6>
            }
        }
        //otherwise there is no info that was passed in here, so there needs to be an element with an id for client-side population
        else
        {
            <h6 id="sconnected"> </h6>
        }

    </div>
</div>
