@model LunarLogic.Models.Contact
@{
    ViewBag.Title = "Services";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lunar Logic Services</title>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/arbor.js"></script>
    <script src="~/Scripts/arbor-tween.js"></script>
    <script src="~/Scripts/graphics.js"></script>
    <script src="~/Scripts/renderer.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Styles.css" rel="stylesheet" />
</head>
<body>

    <div class="container-fluid">
        <header>
            <div style="margin-left:200px"><a href="http://lunarlogic.com"><img src="~/Images/logo.png" /></a></div>
        </header>
        <div class="row">
            <div class="col-md-2">
                @Html.Partial("_ServiceInformation")
            </div>
            <div class="col-md-8"><canvas id="viewport" width="1200" height="850"></canvas></div>
            <div id="serviceinfo" class="col-md-2">
                @Html.Partial("_PersonalPlan")
            </div>
        </div>

    </div>

    <script type="text/javascript">
        window.services = [];
        window.selectedServices = [];
        window.servicesResults = [];

        (function () {

            $.ajax({
                url: '@Url.Action("GetServiceData", "Home")',
                type: "GET",
                contenttype: 'json',
                success: function (result) {
                    graphSetup(result);
                }
            });
        })()

        function graphSetup(result) {
            var sys = arbor.ParticleSystem(50, 1000, .5);
            sys.parameters({ gravity: true });
            sys.renderer = Renderer("#viewport");

            for (i = 0; i < result.length; i++) {
                var s = new service();
                s.name = result[i].ID;
                s.label = result[i].Name;
                s.desc = result[i].Description;
                s.selectable = result[i].Selectable;
                s.selected = false;
                s.connected = result[i].ConnectedServices;
                s.color = 'red';
                s.shape = 'dot';

                window.services.push(s);
            }
            haveSelected(window.services);
            listSetup(window.services);
            //this needs to be at the BOTTOM. nothing after sys.graft() will execute. particle sys BUG?
            //also, try to remove need to pass in sys here. Renderer has internal particle system. Use that?
            sys.renderer.graphDraw(window.services, sys);
        }

        function listSetup(result) {
            for (i = 0; i < result.length; i++) {
                if (result[i].selectable == true) {
                    var id = i + 1;
                    $('#servicelist ul').append('<li class=servicelistitem id=' + id + '>' + result[i].label + '</li>');
                }
            }
        }

        function haveSelected(result) {
            $('#haveselected').html("I have chosen " + window.selectedServices.length + " out of " + (result.length - 1) + " services");
            window.servicesResults = result;
        }

        function service() {
            name = '';
            label = '';
            desc = '';
            selectable = false;
            selected = false;
            connected = [];
            color = 'red';
            shape = 'dot';
        }

    </script>
</body>
</html>