
<div>
    <h4 class="serviceInfo">My Personal Plan</h4>
    
    <dl>
        <dd>
            Some form of progress bar here
        </dd>
        <dd>
            I have chosen {} out of {} services
        </dd>
        <dd>
            <span id="nodeselect" class="nodeselect"></span>
        </dd>
    </dl>

    <form action="@Url.Action("ContactForm", "Services")">
        <input type="submit" value="Contact Lunar Logic" onclick="" />
    </form>



</div>
