
@{
    ViewBag.Title = "Services";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lunar</title>

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/arbor.js"></script>
    <script src="~/Scripts/arbor-tween.js"></script>
    <script src="~/Scripts/graphics.js"></script>
    <script src="~/Scripts/renderer.js"></script>
</head>
<body>
    <div>
        <h1 id="heading">Lunar</h1>
    </div>

    <canvas id="viewport" width="1920" height="1080"></canvas>

    <script type="text/javascript">

        (function () {

            //Retrieve server data
            var serviceData;
            //$.getJSON('/Services/GetServiceData/', function (val) { serviceData = val; });
            $.ajax({
                url: '@Url.Action("GetServiceData", "Services")',
                type: "GET",
                contenttype: 'json',
                success: function (result) {
                    serviceData = result.Name;
                    alert(serviceData);
                }
            });

            document.getElementById('heading').innerHTML = serviceData;

            var sys = arbor.ParticleSystem(500, 1000, 1);
            sys.parameters({ gravity: true });
            sys.renderer = Renderer("#viewport");
            var data = {
                nodes: {
                    stars: { 'color': 'red', 'shape': 'dot', label: 'TITLE HERE', },
                    planet1: { 'color': 'green', 'shape': 'dot', 'label': 'Planet' },
                    planet2: { 'color': 'blue', 'shape': 'dot', 'label': 'Planet' },
                    planet3: { 'color': 'blue', 'shape': 'dot', 'label': 'Planet' },
                    planet4: { 'color': 'blue', 'shape': 'dot', 'label': 'Planet' }

                },
                edges: {
                    stars: { planet1: {}, planet2: {} },
                    planet1: { planet3: {}, planet4: {} }
                }
            };
            sys.graft(data);

            //Events
            $(viewport).mousedown(function (e) {
                return true;
            });

        })()
    </script>

</body>
</html>