
@{
    ViewBag.Title = "Services";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lunar</title>

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/arbor.js"></script>
    <script src="~/Scripts/arbor-tween.js"></script>
    <script src="~/Scripts/graphics.js"></script>
    <script src="~/Scripts/renderer.js"></script>
</head>
<body>
    <div>
        <h1 id="heading">Lunar</h1>
    </div>

    <canvas id="viewport" width="1920" height="1080"></canvas>

    <script src="~/Scripts/services.js"></script>

</body>
</html>