
@{
    ViewBag.Title = "Services";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lunar</title>

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/arbor.js"></script>
    <script src="~/Scripts/arbor-tween.js"></script>
    <script src="~/Scripts/graphics.js"></script>
    <script src="~/Scripts/renderer.js"></script>
</head>
<body>
    <div>
        <h1 id="heading">Lunar</h1>
    </div>

    <canvas id="viewport" width="1920" height="1080"></canvas>

    <script type="text/javascript">

        (function () {

            var serviceData;
            $.ajax({
                url: '@Url.Action("GetServiceData", "Services")',
                type: "GET",
                contenttype: 'json',
                success: function (result) {
                    graphSetup(result);
                }
            });

            $(viewport).mousedown(function (e) {
                return true;
            });
        })()

        function graphSetup(result)
        {
            var sys = arbor.ParticleSystem(500, 1000, 1);
            sys.parameters({ gravity: true });
            sys.renderer = Renderer("#viewport");

            var list;

            for (i = 0; i < result.length; i++) {

                sys.addNode(result[i].Name, { 'color': 'red', 'shape': 'dot', label: result[i].Name, desc: result[i].Description });
            }

            /*
            for (i = 0; j < result[i].ConnectedServices.length; i++) {
                sys.addEdge();
            }
            */

            sys.graft();
        }

    </script>
</body>
</html>