
@{
    ViewBag.Title = "Services";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lunar</title>

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/arbor.js"></script>
    <script src="~/Scripts/arbor-tween.js"></script>
    <script src="~/Scripts/graphics.js"></script>
    <script src="~/Scripts/renderer.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body style="background-color:darkblue">

    <div class="container-fluid">
        <div style="margin-left:200px"><img src="~/Images/logo.png" /></div>
        <div class="row">
            <div class="col-md-10" style="background-color:darkslateblue"><canvas id="viewport" width="1920" height="1080"></canvas></div>
            <div class="col-md-2" style="background-color:lightsalmon"><h2>Selected services here<br /><br /><span id="nodeselect">Empty</span></h2></div>
        </div>
    </div>

    <script type="text/javascript">

        (function () {
            var serviceData;
            $.ajax({
                url: '@Url.Action("GetServiceData", "Services")',
                type: "GET",
                contenttype: 'json',
                success: function (result) {
                    graphSetup(result);
                }
            });
        })()

        function graphSetup(result)
        {
            var sys = arbor.ParticleSystem(10, 1000, .5);
            sys.parameters({ gravity: true });
            sys.renderer = Renderer("#viewport");

            for (i = 0; i < result.length; i++) {
                sys.addNode(result[i].Name, { 'color': 'red', 'shape': 'dot', label: result[i].Name, desc: result[i].Description, 'parents': result[i].ParentServices, 'selected': 'n' });
            }

            for (i = 0; i < result.length; i++) {

                for (j = 0; j < result[i].ConnectedServices.length; j++)
                {
                    sys.addEdge(result[i].Name, result[i].ConnectedServices[j]);
                }
            }
            sys.graft();
        }

    </script>
</body>
</html>